.wrap {
  margin: 50px auto;
  max-width: 500px;
}

.search {
  width: 100%;
  display: flex;
  position: relative;
}

.searchTerm {
  width: 100%;
  border: 3px solid #878a88;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #353838;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #878a88;
  background: #878a88;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
