* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.posts_container {
  padding: 20px;
}

.post_title {
  font-size: 20px;
}

.comments {
  margin: 20px 0;
}

.comments h3 {
  margin-bottom: 12px;
}

.single_post_wrap {
  margin-top: 100px;
}

.single_post_wrap h1 {
  margin-bottom: 24px;
}

.btn_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  background-color: #51c5e8;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
